body {
    width: 800px;
    margin-left: 8em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  rect {
    fill: steelblue;
    fill-opacity: 0.8;
  }
  rect:hover {
    fill-opacity: 1;
  }
  .axis {
    font-size: smaller;
  }